body {
	padding-top: 50px;
	padding-bottom: 40px;
}

.reply {
	display: none;
}

.callout {
	margin: 10px 0;
	padding: 10px;
}

.callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.callout p:last-child {
	margin-bottom: 0;
}

.callout-left {
	text-align: left;
	border-left: 5px solid #34789a;
	margin-left: 15px;
}

.callout-right {
	text-align: right;
	border-right: 5px solid #3c763d;
	margin-right: 15px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%,
		#f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%,
		#db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%,
		#669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%,
		#f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%,
		#db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%,
		#669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca
		25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe
		50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1
		87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca
		25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe
		50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1
		87.5%, #62c2e4 87.5%, #62c2e4);
}

.subform {
	cursor: pointer;
	color: #428BCA;
}

.subform:hover {
	text-decoration: underline;
}

.glyphicon-remove {
	cursor: pointer;
}


.glyphicon{
    margin-right: 5px;
}

.well{
    margin-top: -20px;
}

.well legend{
    position: relative;
    top: 1.5em;
}

.well .form-group{
    padding: 0 10px;
    margin-top: 10px;
}

/*
From: https://www.atlassian.com/ondemand/signup/?product=jira-software.ondemand
*/
.atlwdg-trigger {
    position: fixed;
    background: #205081;
    padding: 5px;
    border: 2px solid white;
    border-right: none;
    font-weight: bold;
    color: white !important;
    display: block;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px 0 0  5px;
    width: 35px;
}

.atlwdg-trigger.atlwdg-RIGHT {
    right: 0;
    top: 40%;
}
