<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>NJU IT侠预约系统</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/resources/base/bootstrap.min.css">
    <link href="/resources/style/user/login.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NJU IT侠预约系统</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/"><span class="glyphicon glyphicon-list-alt"></span>预约维修 </a></li>
                <li><a href="/adminlogin"><span class="glyphicon glyphicon-list-alt"></span>后台管理</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://itxia.club"><span class="glyphicon glyphicon-home"></span>关于我们</a></li>
                <li><a href="http://itxia.club/donation"><span class="glyphicon glyphicon-heart"></span>爱心捐赠</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>
<div class="container content">
    <h1>预约维修</h1>
    <hr class="colorgraph" />
    <form class="form-signin" role="form" action="/helperlogin" method="post">
        <img alt="NJU IT侠" src="/resources/images/logo.jpg" class="img-responsive center-block" />
        <input type="number" name="phone" class="form-control" placeholder="手机号"  required>
        <!--<input style="display:none;" name="password" value="iamhelper">-->
        <button class="btn btn-lg btn-primary btn-block" type="submit">我要预约</button>
        <p class="help-block">
            <span class="glyphicon glyphicon-question-sign"></span>
            使用手机号直接预约，无需注册
        </p>
    </form>
    <div class="panel panel-success m-messages">
        <div class="panel-heading">
            <h3 class="panel-title">最新消息</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li><em>鼓楼工作室搬迁至团委小白楼一楼（小麦公社、南园18舍旁;          紧靠学府书店）</em></li>
                <li>更多信息，请关注IT侠官方微信公众号：
                    <a rel="tooltip" data-html="true" title="<img src='/resources/images/nju-itxia.jpg' height='180px' alt='' />" target="_blank" href="/resources/images/nju-itxia.jpg">
                        nju-itxia
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container footer">
    <hr class="colorgraph">
    <p>
        <small>
            <a href="http://blog.itxia.club/itxia-ticket-system-release-notes/">Version v2.5(20160414) </a><br />
            Powered by
            <a href="/eggs" style="color:#333;cursor:default;text-decoration:none;">LC</a>
            & <a href="http://blog.itxia.club/itxia-2016chun-di-yi-ci-jian-mian-hui-he-ying/" target="_blank">Web开发组</a>
            & <a href="http://bbs.nju.edu.cn/vd15124/board?board=NoteBook" target="_blank">小百合BBS</a>
        </small>
    </p>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/resources/base/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resources/base/bootstrap.min.js"></script>
<script src="/resources/js/user/user.js"></script>
</body>
</html>