
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>南京大学-IT 侠预约系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/resources/base/bootstrap.min.css">

    <link rel="stylesheet" href="/resources/style/knight/knight.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- 下面的button是在页面过窄的时候将导航栏的按钮缩为一个，适合pad等小平板，手机上展示 -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">NJU-IT 侠预约系统</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/admin/wait"><span class="glyphicon glyphicon-list-alt"></span>处理请求</a></li>
                <li><a href="/admin/message"><span class="glyphicon glyphicon-comment"></span>最近回复</a></li>
                <li><a href="/admin/setting"><span class="glyphicon glyphicon-cog"></span>设置</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>登出</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<!-- 导航栏-end -->



<div class="container">

    <div>
        <h1>正在处理</h1>
        <hr class="colorgraph">
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/admin/wait"
                   class="list-group-item"><span
                        class="badge">3</span>等待处理</a> <a href="/admin/work"
                                                          class="list-group-item list-group-item-info"><span
                    class="badge">1</span>正在处理</a> <a href="/admin/finish"
                                                      class="list-group-item"><span
                    class="badge">1</span>处理完成</a>
            </div>
        </div>

        <div class="col-md-6">
            <div th:each="order:${workList}">
                <div class="panel panel-info" th:id="${order.id}">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a target="_blank" th:href="@{'http://browse.renren.com/s/all?from=opensearch&q='+order.name+' 南京大学'}" th:text="${order.name}"></a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong th:text="${'IT侠 '+order.handlerName}"></strong>
                        </p>
                        <p>
                            <strong>提交时间: </strong><label th:text="${order.updatedon}" th:remove="tag"></label>
                        </p>
                        <p>
                            <strong>手机号码: </strong><a th:href="@{tel:+${order.phone}}"  th:text="${order.phone}"></a>
                        </p>
                        <p>
                            <strong>邮箱: </strong><label th:text="${order.email}" th:remove="tag"></label>
                        </p>
                        <p>
                            <strong>电脑型号: </strong>
                            <label th:text="${order.model}" th:remove="tag"></label>
                            <!--<a target="_blank" th:href="http://www.baidu.com/s?word=${order.model}+'拆机图'" th:text="${order.phone}"></a>-->
                        </p>
                        <p>
                            <strong>操作系统: </strong><label th:text="${order.os}" th:remove="tag"></label>
                        </p>
                        <p>
                            <strong>问题描述: </strong><label th:text="${order.desc}" th:remove="tag"></label>
                        </p>
                        <button type="button" class="btn btn-warning waitbtn">放回等待处理</button>
                        <button type="button" class="btn btn-success finishbtn">处理完成</button>
                        <button type="button" class="btn btn-default replybtn" th:text="展开回复+'('+${#lists.size(order.reply)}+')'"></button>

                        <div class="reply">
                            <div th:each="reply:${order.reply}">
                                <div class="row replyrow" replyid="${reply.id}">
                                    <div th:class="${reply.replybool==0} ? 'callout callout-left':'callout callout-right'">
                                        <h4>
                                            <span th:text="${reply.name}" th:remove="tag"></span>
                                            <small th:text="${reply.time}"></small>
                                        </h4>
                                        <p th:text="${reply.content}"></p>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <textarea class="form-control content" name="content" rows="3"
                                      placeholder="点击回复..."></textarea>
                            <input type="text" class="order" name="order" th:value="${order.id}" style="display: none">
                            <br />
                            <button class="subbtn btn btn-block btn-primary">回复</button>
                        </div>
                    </div>
                </div><!-- 单个panel结束 -->
            </div>
        </div>
    </div>
</div>


<div class="container" style="text-align: center;">
    <hr class="colorgraph">
    <p>
        <small>
            Version 2.3,
            Powered by
            <a href="/eggs" style="color:#333;cursor:default;text-decoration:none;">LC</a>
            & <a href="http://blog.itxia.club/itxia-2016chun-di-yi-ci-jian-mian-hui-he-ying/" target="_blank">IT侠Web开发组</a>
            & <a href="http://bbs.nju.edu.cn/vd15124/board?board=NoteBook" target="_blank">小百合Notebook版</a>
        </small>
    </p>

    <a class="atlwdg-trigger atlwdg-RIGHT" href="http://blog.itxia.club/feedback-collection/" target="_blank" id="atlwdg-trigger">给Web组留言</a>
</div>

<!-- Bootstrap core JavaScript -->
<!-- ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/resources/base/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/resources/base/bootstrap.min.js"></script>
<script src="/resources/js/knight/knight.js"></script>
<script src="/resources/js/knight/work.js"></script>
</body>
</html>
